.progressive {
  &-wrapper {
    position: relative; 
  }

  .react-blur {
    height: 100%;
  }


  &-preview {    
    z-index: 2;
    img {
      filter: blur(40px);
      transition: opacity 400ms ease 0ms;
    }
    &.loaded {
      transition: opacity 400ms ease 0ms;
      position: absolute; 
      top: 0;
      width: 100%;
      height: 100%; 
      left: 0;       
      opacity: 0;
      img {
        opacity: 0;
      }
    }
    &.loading {
      position: relative;
      opacity: 1;
      img {         
        opacity: 1;
      }
    }
  }
  &-preview.loaded + &-src {
    // display: block;
  }
  &-src {
    z-index: 1;
    // display: none;
    img {
      transition: opacity 400ms ease 0ms;
      opacity: 0
    }
  }
}