canvas.react-blur-canvas {
  position: absolute;
}

.progressive {
  &-wrapper {
    position: relative; 
  }

  &-preview {
    z-index: 2;
    img {
      filter: blur(13px);
      transition: opacity 400ms ease 0ms;
    }
    &.loaded {
      transition: opacity 400ms ease 0ms;
      position: absolute; 
      top: 0;
      width: 100%;
      height: 100%; 
      left: 0;
      opacity: 0;
      img {
        opacity: 0;
      }
    }
    &.loading {
      position: relative;
      opacity: 1;
      img {         
        opacity: 1;
      }
    }
  }
  &-preview.isloading + &-src {
    display: none;
  }
  &-preview.loaded + &-src {
    display: block;
  }
  &-src {
    z-index: 1;
    img {
      transition: opacity 400ms ease 0ms;
      opacity: 0
    }
  }
}